pre.bash code,
pre.python code,
pre.r code {
  display: block;
}

pre.bash::before ,
pre.python::before ,
pre.r::before {
  display: block;
  background: #333;
  color: white;
  padding: 3px;
}

pre.bash::before {
  content: "Bash";
}

pre.python::before {
  content: "Python";
}

pre.r::before {
  content: "R";
}